body {
  background-color: @grey;
  color: @font-color-base;
  font-size: @font-size-base;
  font-family: @font-family-base;
  overflow: hidden;
}

.sider-bar {
  grid-area: sider;
}
.main {
  grid-area: main;
}

.current-view {
  grid-area: current-view;
}

.page-footer {
  grid-area: footer;
}

.page-wrapper {
  height: 100vh;
}

.main {
  display: grid;
  width: 1024px;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  " sider  current-view"
  " footer footer";
  grid-column-gap: 20px;

  .sider-bar {
    height: calc(100vh - 110px);
    color: #fff;
    background-color: @teal-dark;
    // padding: 30px;
    //  @font-hover-color: #00B4CF;
    .nav-item {
      display: inline-block;
      height: 40px;
      width: 100%;
      padding-left: 30px;
      line-height: 40px;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        background-color: @teal;
        color: @font-hover-color;
      }
      &.current {
        background-color: @teal;
        color: @font-hover-color;
      }

      .nav-icon {
        font-size: @font-size-large;
      }
      .nav-literal {
        margin-left: 20px;
      }
    }

    .history {
      height: 400px;
      position: fixed;
      bottom: 0px;
    }
  }

  .current-view {
    margin-top: 20px;
  }

  .agent {
    &-overview {
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 25px;
      .overview-item {
        display: inline-block;
        position: relative;
        box-sizing: content-box;
        padding: 16px;
        height: 90px;
        &.building {
          background-color: @orange;
          color: #fff;
        }
        &.idle {
          background-color: @green;
          color: #fff;
        }
        &.types {
          background-color: #fff;
        }
        .literal {
          position: absolute;
          font-size: 18px;
        }
        .number {
          position: absolute;
          font-size: 48px;
          bottom: 0px;
          right: 20px;
        }

        .icon {
          opacity: 0.3;
          font-size: 130px;
          text-align: center;
          line-height: 90px;
        }

        &.agent-type {
          background-color: #fff;
          .type-item {
            display: inline-block;
            width: 32%;
            .type-literal {
              display: inline-block;
              width: 100%;
              text-align: center;
              font-size: @font-size-small;
            }
            .type-number {
              display: inline-block;
              width: 100%;
              text-align: center;
              margin-top: 30px;
              font-size: @font-size-large;
            }
          }
        }
      }
    }

    .agent-tools {
      height: 50px;
      margin-top: 20px;
      background-color: #fff;

      .switch-type {
        width: 31%;
        height: 100%;
        display: inline-block;
        .type-item {
          float: left;
          width: 33%;
          height: 100%;
          text-align: center;
          line-height: 50px;
          border-right: solid 1px @grey;
        }
        .current {
          color: @blue;
          border-bottom: solid 3px @blue;
        }
      }

      .agent-search {
        margin-right: 30px;
        display: inline-block;
      }
    }
  }
}

.page-footer {
  display: inline-block;
  width: 100%;
  height: 30px;
  background-color: #fff;
  font-size: @font-size-small;
  position: fixed;
  bottom: 0px;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.3);
}

.page-header {
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);

  .page-header-wrapper {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 1024px;
    margin: 0 auto;
    .logo {
      vertical-align: middle;
      width:100px;
    }

    .profile {
      float: right;
      .avator {
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }
      .icon {
        vertical-align: middle;
        font-size: 18px;
      }
    }
  }
}