//color
@orange: #FF9A2A;
@green: #7FBC39;
@blue: #00B4CF;
@blue-dark: #01869A;
@teal: #435466;
@teal-dark: #2D4054;
@grey: #F3F3F3;
@grey-dark: #E1E4E6;

//font
// @font-s: 12px;
// @font-m: 14px;
// @font-l: 16px;
// @font-xl: 18px;
// @font-xxl: 20px;

@btn-add-color: #fff;
@btn-add-bg-color: @blue;
@btn-add-hover-color: @blue-dark;

@btn-cancel-color: #fff;
@btn-cancel-bg-color: @teal;
@btn-cancel-hover-color: @blue-dark;

@btn-deny-color: #fff;
@btn-deny-bg-color: @blue;
@btn-deny-hover-color: @blue-dark;

@font-family-sans-serif:  "Avenir", "Helverica", Arial, Sans-serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base: 14px;
@font-size-small: 12px;
@font-size-large: 20px;

@font-color-base: #2D4054;
@font-hover-color: #00B4CF;

@keyframes rotating {
  from{
    transform: rotate(0deg);
    // transform-origin: 72px;
  }
  to{
    transform: rotate(360deg);
    // transform-origin: 72px;
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}